/* BOX SIZING */

    .boxsizing {float:left; border:1px solid #E2007A; margin:20px 0 20px 20px;}
  .boxsizing:first-of-type{margin: 0 10px 0 0;}
  .boxsizing div {
    width: 200px;
    height:100px;
    padding: 20px;
    border: 5px dashed #E2007A;
    margin:20px;
    text-align:center;
    background-color: rgba(255,255,255,0.5);
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    white-space:nowrap;
    }
  .boxsizing div.bb {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }