
#lineargradient1 {
  width: 300px;
  height: 500px;
  border: 2px solid #E2007A;
  border-radius: 10px;
  float: right;
  margin-right: 20px;
}
.gradientline {
  width: 3px;
  height:100%;
  margin: auto;
  background-color:#000;
  position:relative;
}
.gradientline:before,
.gradientline:after {
  content: "";
  width: 15px;
  height:15px;
  position:absolute;
  top: 0px;
  left: -7px;
}
.gradientline:before {
  background-color: #000000;
}
.gradientline:after {
  top: auto;
  bottom: 1px;
  border: 1px solid #000000;
  border-width: 3px 3px 0 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

 #gradients-linear-example {
    border: 0;
    height: 100px;
    background-image: -webkit-linear-gradient(90deg, #E468E8, #E169FF 33%,#4FBFF7 66%,#2C4299 100%);
    background-image: linear-gradient(-90deg, #E468E8, #E169FF 33%,#4FBFF7 66%,#2C4299 100%)
  }
  #rdialgradientsample {
  clear: both;
    border: 0;
    height: 100px;
    background: -webkit-radial-gradient(4% 12%, circle farthest-side,
      #2C4299, #4FBFF7, #C344C7 100%);
    background: radial-gradient(circle at 4% 12%,
      #2C4299, #4FBFF7, #C344C7 100%);
  }
.grad {
  width: 250px;
  height:180px;
  margin: 0 20px 20px 0px;
  float: left;
  border-radius: 150px;
  background-repeat:repeat;
}

.snowflakedemo {
  width: 300px;
  height: 300px;
  border: 2px solid #E2007A;
  border-radius: 10px;
  float: right;
  margin-right: 20px; }

