  /* different sizes, and default origins based on size */
 .flakes {
  i:nth-of-type(4n) {
    height:30px;
    width:30px;
    -webkit-transform-origin: right 30px;
    transform-origin: right -30px;
  }
   i:nth-of-type(4n+1) {
    height:24px;
    width:24px;
    -webkit-transform-origin: left -30px;
    transform-origin: left 30px;
  }
   i:nth-of-type(4n+2){
    height:10px;
    width:10px;
    -webkit-transform-origin: -30px 0;
    transform-origin: -30px 0;
  }

   i:nth-of-type(4n+3){
    height:40px;
    width:40px;
    -webkit-transform-origin: -50px 0;
    transform-origin: -50px 0;
  }

  /* different speeds, with iteration counts to equal 3minutes approx. */
   i:nth-of-type(4n) {
    -webkit-animation-duration: 5.3s;
    -webkit-animation-iteration-count: 12;
    -webkit-transform-origin: -10px -20px;
    animation-duration: 5.3s;
    animation-iteration-count: 12;
    transform-origin: -10px -20px;
  }
   i:nth-of-type(4n+1){
    -webkit-animation-duration: 3.1s;
    -webkit-animation-iteration-count: 20;
    -webkit-transform-origin: 10px -20px;
    animation-duration: 3.1s;
    animation-iteration-count: 20;
    transform-origin: 10px -20px;
    }
   i:nth-of-type(4n+2) {
    -webkit-animation-duration: 1.7s;
    -webkit-animation-iteration-count: 35;
    -webkit-transform-origin: right -20px;
    animation-duration: 1.7s;
    animation-iteration-count: 35;
    transform-origin: right -20px;
  }

  /* different delays so they don't all start at the same time */
   i:nth-of-type(3n) {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
    }
   i:nth-of-type(3n+1) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    }
   i:nth-of-type(3n+2) {
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s;
    }

  /* playing with timing functions to make it a teeny bit more random like */
   i:nth-of-type(5n)   {-webkit-animation-timing-function:ease-in-out;}
   i:nth-of-type(5n+1) {-webkit-animation-timing-function:ease-out;}
   i:nth-of-type(5n+2) {-webkit-animation-timing-function:ease;}
   i:nth-of-type(5n+3) {-webkit-animation-timing-function:ease-in;}
   i:nth-of-type(5n+4) {-webkit-animation-timing-function:linear;}
   i:nth-of-type(11n) {-webkit-animation-timing-function:cubic-bezier(0.2, 0.3, 0.8, 0.9);}

   i:nth-of-type(5n)   {animation-timing-function:ease-in-out;}
   i:nth-of-type(5n+1) {animation-timing-function:ease-out;}
   i:nth-of-type(5n+2) {animation-timing-function:ease;}
   i:nth-of-type(5n+3) {animation-timing-function:ease-in;}
   i:nth-of-type(5n+4) {animation-timing-function:linear;}
   i:nth-of-type(11n) {animation-timing-function:cubic-bezier(0.2, 0.3, 0.8, 0.9);}

  /* playing with opacity to make it a teeny bit more random like */
   i:nth-of-type(7n){opacity: 0.5}
   i:nth-of-type(7n+2) {opacity: 0.3}
   i:nth-of-type(7n+4) {opacity: 0.7}
   i:nth-of-type(7n+6){opacity: 0.6;
    -webkit-animation-timing-function:ease-in;
    -webkit-transform-origin: left 10px;
    animation-timing-function:ease-in;
    transform-origin: left 10px;}
   i:nth-of-type(7n+1){opacity: 0.8}

   i {
     position: static !important;
   }
}
#presentation > .flakes {
  position: relative;
  top: -140px;
}
.slide .flakes {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  i {
    background-color: transparent;
    -webkit-animation-play-state: running;
    animation-play-state: running;

    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
  }
}
