#transformorder {
  width: 200px;
  height: 200px;
  margin: 0 auto 200px auto;
  border: 5px dotted purple;
  position: relative;
  &:before, &:after {
    top: 0; left: 0;
    bottom: 0; right: 0;
    border: 5px dashed magenta;
    content: "";
    position: absolute;
  }
  &:before {
    -webkit-transform: rotate(135deg) translateX(200px);
    transform: rotate(135deg) translateX(200px);
  }
  &:after {
    -webkit-transform:  translateX(200px) rotate(135deg);
    transform: translateX(200px) rotate(135deg);
    border-color: teal;
  }
  .line1, .line2 {
    height:1px; width: 600px; position:absolute; top: 50%; left: -150px;border-bottom: 1px solid;}
  .line2 {
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    left: -230px;
    top: 130px;
  }
}